
<div class="row" *ngFor="let article of articlelist.Articles" (click)="onClick(article)">
  <div class="col-xs-12 col-sm-2 col-md-2">
    <img src='{{ article.articleThumbnail }}' alt="Thumbnail" width="75px" height="75px" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2">
    {{ article.title }}
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2">
    {{ article.summary }}
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2">
    {{ article.author }}
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2">
    {{ article.publishedDate }}
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2">
    <a href="{{ article.link }}">See More...</a>
  </div>
</div>
