<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6" width="50%">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        Title:
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        {{ getTitle() }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        Summary:
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        {{ getSummary() }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        Author:
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        {{ getAuthor() }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        PublishedDate:
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        {{ getPublishedDate() }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        URL:
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <a href="{{ getLink() }}">See More...</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6" width="50%">
  </div>
</div>
