<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3>LSEG-Dashboard</h3>
      </div>
    </div>
  </nav>
  <div class="row" style="height: 50vh;">
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000;">
      <p>Div1</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000;">
      <p>Div2</p>
    </div>
  </div>
  <div class="row" style="height: 50vh;">
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000;">
      <p>Div3</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000;">
      <p>Div4</p>
    </div>
  </div>
</div>
