<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3 style="color: #9d9d9d;">LSEG-Dashboard</h3>
      </div>
    </div>
  </nav>
  <div class="row" style="height: 50vh;">
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000; overflow: scroll;">
      <app-article-list (OnArticleListClick)="onUpdate($event)" ></app-article-list>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000;">
      <app-article
        thumbnail = "https://static01.nyt.com/images/2019/01/10/world/10congo-1/merlin_147221493_f95a1867-bb4e-4c94-95d4-761684649511-videoLarge.jpg"
        title = "TEST"
        summary = "TEST"
        link = "TEST"
        author = "TEST"
        publishedDate = "TEST">
      </app-article>
    </div>
  </div>
  <div class="row" style="height: 50vh;">
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000;  overflow: scroll;">
      <app-article-rating></app-article-rating>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000; overflow: scroll;">
      <app-chart></app-chart>
    </div>
  </div>
</div>
