<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3>LSEG-Dashboard</h3>
      </div>
    </div>
  </nav>
  <div class="row" style="height: 50vh;">
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000; overflow: scroll;">
      <app-article-list (OnArticleListClick)="onUpdate($event)" ></app-article-list>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000;">
      <app-article
        thumbnail = {{this.articleComponent.thumbnail}}
        title = {{this.articleComponent.title}}
        summary = {{this.articleComponent.summary}}
        link = {{this.articleComponent.link}}
        author = {{this.articleComponent.author}}
        publishedDate = {{this.articleComponent.publishedDate}}>
      </app-article>
    </div>
  </div>
  <div class="row" style="height: 50vh;">
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000;  overflow: scroll;">
      <app-article-rating></app-article-rating>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%; border: 1px solid #000;">
      <p>Div4</p>
    </div>
  </div>
</div>
